# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# IntelliJ IDEA project files
.idea/

# IntelliJ project specific files
*.iml

# Windows/Mac specific file names (if applicable)
Thumbs.db
.DS_Store

